<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Page.master.cs" Inherits="RequireSamples.Page" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>Require</title>
        <asp:ContentPlaceHolder ID="Head" runat="server" />
    </head>
    <body>
        <form id="PageForm" runat="server">
            <div>
                <asp:ContentPlaceHolder ID="Body" runat="server" />
            </div>
        </form>
    </body>
</html>
